/* Style Settings */
@import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');
:root {
    --bgColor: #808080;
    --accentColor: #39cde0;
    --redColor: #ffb1b0;
    --orangeColor: #ffdfbe;
    --yellowColor: #ffffbf;
    --greenColor: #b4f0a7;
    --blueColor: #a9d1f7;
    --violetColor: #cc99ff;
    --font: 'Karla', sans-serif;
}

body{
    background-color: var(--bgColor);
}

#userPhoto{
    width: 196px;
    height: 196px;
    display: block;
    margin: 35px auto 20px;
    border-radius: 50%;
}

#userName{
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.25;
    display: block;
    font-family: var(--font);
    width: 100%;
    text-align: center;
    text-decoration: none;
}

#links{
    max-width: 675px;
    width: auto;
    display: block;
    margin: 27px auto;
}

#links a{
    display: block;
    font-family: var(--font);
    text-align: center;
    margin-bottom: 20px;
    padding: 17px;
    text-decoration: none;
    font-size: 1rem;
    transition: all .25s cubic-bezier(.08,.59,.29,.99);
	border-radius: 25px;
}

.redLink{
    background-color: var(--redColor);
    color: var(--bgColor);
    border: solid var(--redColor) 2px;
}

.redLink:hover{
    background-color: var(--bgColor);
    color: var(--redColor);
}

.orangeLink{
    background-color: var(--orangeColor);
    color: var(--bgColor);
    border: solid var(--orangeColor) 2px;
}

.orangeLink:hover{
    background-color: var(--bgColor);
    color: var(--orangeColor);
}

.yellowLink{
    background-color: var(--yellowColor);
    color: var(--bgColor);
    border: solid var(--yellowColor) 2px;
}

.yellowLink:hover{
    background-color: var(--bgColor);
    color: var(--yellowColor);
}

.greenLink{
    background-color: var(--greenColor);
    color: var(--bgColor);
    border: solid var(--greenColor) 2px;
}

.greenLink:hover{
    background-color: var(--bgColor);
    color: var(--greenColor);
}

.blueLink{
    background-color: var(--blueColor);
    color: var(--bgColor);
    border: solid var(--blueColor) 2px;
}

.blueLink:hover{
    background-color: var(--bgColor);
    color: var(--blueColor);
}

.viloletLink{
    background-color: var(--violetColor);
    color: var(--bgColor);
    border: solid var(--violetColor) 2px;
}

.violetLink:hover{
    background-color: var(--bgColor);
    color: var(--violetColor);
}
